{
    "env": {
        "browser": true
    },
    "globals": {
        "RAF": true,
        "CAF": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "no-bitwise": 0
    }
}
